:root {
    --colorPrincipal: #D5B99D;
    --colorSecundario: #D9D9D9;
    --colorTerciario: #CEA0A0;
}

@font-face {
    font-family: "fuente-normal";
    src: url(../assets/fuentes/Inter/static/Inter-Regular.ttf);
}

@font-face {
    font-family: "fuente-semibold";
    src: url(../assets/fuentes/Inter/static/Inter-SemiBold.ttf);
}

@font-face {
    font-family: "fuente-bold";
    src: url(../assets/fuentes/Inter/static/Inter-Bold.ttf);
}

html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    font-family: "fuente-normal";
}

/******************************HEADER********************************/

#nav {
    background-color: #EDE0D4;
    z-index: 3;
}

.btn {
    background-color: var(--colorTerciario);
    border-color: var(--colorTerciario);
}

.logo_div{
    text-align: left;
}

.button_div{
    text-align: right;
}

.navbar>.container-fluid{
    padding-left: 0 !important;
    padding-right: 0 !important;
}


/******************************FIN HEADER********************************/
/****************************INICIO MAIN******************************/
/****************************HOME******************************************/
.boton-personalizacion {
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7) !important;
    width: 250px !important;
    border: none !important;
}

.boton-pers{
    text-decoration: none;
    color: black;
}

.div-catalogo{
    width: 326px;
    display: inline-block;
}

.pa-catalogo {
    font-family: "fuente-bold";
    font-size: 60px;
    line-height: 120.418%;
    letter-spacing: 9px;
    text-decoration: none;
    z-index: 1;
    color: black;
}

.linea-catalogo {
    background-color: var(--colorTerciario);
    height: 10px;
    width: 163px;
    transform-origin: right;
}

.circulo {
    width: 250px; 
    height: 250px;
    background-color: var(--colorSecundario);
}

h4 {
    font-family: "fuente-bold";
}

.pa-sobre {
    font-family: "fuente-bold";
    font-size: 60px;
}

.pa-nosotros{
    font-family: "fuente-normal";
    font-size: 35px;
    letter-spacing: 4px;
}

.linea-nosotros {
    background-color: var(--colorPrincipal);
    height: 7px;
    width: 180px;
}

.boton-texto{
    border: none;
}

.texto-mas{
    text-align: left;
    border: none;
}

.imagen-aenor{
    margin-right: 150px;
}
.caja {

    display: flex;
}

.pa-negrita {
    font-family: "fuente-bold";
}

.pa-gris{
    color: gray;
}

/**********************FORMULARIO**************************/
.titulo {

    font-family: "fuente-bold";
}

.box-form {
    font-family: "fuente-semibold";
    background-color: var(--colorSecundario);
}

.linea {
    background-color: var(--colorSecundario);
    height: 7px;
}

.box-resumen {
    background-color: var(--colorTerciario);
    font-family: "fuente-semibold";
}

.pa-derecha {
    text-align: right;
}

.borde-resumen {
    width: 95%;
}

.total {
    font-family: "fuente-bold";
    font-size: 23px;
    margin-left: 20px;
}

.form-check {
    margin-left: 35px;
}

.texto-small {
    font-size: 10px;
    margin-left: 35px;

}

.form-check-inline {
    font-size: 19px;
    font-family: "fuente-semibold";
}

.btn {
    background-color: var(--colorSecundario);
    color: black;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
    width: 180px;
}

.btn:hover {
    background-color: var(--colorSecundario);
}

/****************************FIN FORMULARIO******************************/
/**********************POLITICAS**********************************/
.parrafo-politica{
    font-size: 10px;
    padding: 50px 50px 0 100px;
}

.politica{
    font-size: 15px;
}

/*****************FIN POLITICAS*****************/
/******************PAGO*****************************/

.h3Pago{
    width: 50%;
    padding:2%;
    border-bottom: 1px solid grey;
}

.a-pago{
    text-decoration: none;
    color: black;
}

/******************FIN PAGO*****************************/
/**********************FIN MAIN**************************/